<!doctype html>
<html lang="en">
<head>
    <title>angular tasklist</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/fonts/calluna-sans.css" />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>

    <div class="wrapper">
        <div ng-app="testApp">
            <h2>Tasklist with Angular</h2>
            <div ng-controller="myCtrl">
                <div class="filter-area">
                    <div class="filter-wrapper">
                        <input class="filter-input" type="text" ng-init="qq=''" ng-model="qq" placeholder="Filter tasks by content..." />
                        <em class="delete-icon" ng-click="qq=''" ng-hide="qq==''"></em>
                    </div>
                    <select class="filter-select" ng-model="type" ng-init="type='all'">
                        <option value="all">All tasks...</option>
                        <option value="completed">Completed tasks...</option>
                        <option value="alive">Wait to be done...</option>
                    </select>
                </div>
                <ul>
                    <li ng-repeat="task in taskList | filter:filterFn as results" class="task-li" ng-class-even="'li-even'" ng-class="{dead: !task.alive}">
                        {{$index | transferToLetter}}. 
                        <span class="task-content" title="{{task.content}}">{{ task.content }}</span>
                        <span class="create-time">{{task.ctime | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
                        <span class="delete-task" ng-click="deleteTask(task)" title="{{task.alive?'标记已完成':'删除' }}"><i class="{{task.alive?'fa fa-check':'fa fa-trash-o'}}"></i></span>
                        <span ng-if="!task.alive" class="undo-task" ng-click="undoTask(task)" title="重新打开"><i class="fa fa-undo"></i></span>
                    </li>
                    <li class="task-li task-no" ng-if="taskList.length==0">No task now, add task or load default tasks first.</li>
                    <li class="task-li task-no" ng-if="results.length==0 && taskList.length!=0">No such task found!</li>
                </ul>
                <div class="content-wrapper">
                    <input class="input-area" type="text" ng-init="content=''" ng-model="content" ng-disabled="taskList.length>=26" ng-keyup="inputKeyup($event)" placeholder="{{'enter task content...' | capFirst}}" />
                    <em class="delete-icon" ng-click="content=''" ng-hide="content==''"></em>
                </div>
                <div class="control-area">
                    <button class="add-button" ng-click="addTask()" ng-disabled="content==''||taskList.length>=26">{{"add task" | capFirst}}</button>
                    <button class="load-button" ng-click="loadDefaultTask()">{{loadText | capFirst}}</button>
                    <button class="delete-button" ng-click="deleteAllTask($event)" ng-disabled="taskList.length==0">{{deleteText | capFirst}}</button>
                </div>
                <div class="tips-area">
                    <p ng-show="loadClicked"><i class="fa fa-warning"></i>Load default tasks will override current tasks, Please confirm!</p>
                    <p ng-show="deleteClicked"><i class="fa fa-warning"></i>Are you sure to delete all the above tasks? Please confirm!</p>
                    <p ng-show="taskList.length>=26"><i class="fa fa-warning"></i>26 tasks limit reached! Delete some tasks before add new one!</p>
                </div>
            </div>
        </div>
    </div>
    <script>
    (function(){
        var app = angular.module('testApp', ['taskAnimations', 'filtersModule']);
        angular.module('taskAnimations', ['ngAnimate']);
        var myCtrl = app.controller('myCtrl', function($scope, $http, $document) {
            initTaskList();
            $scope.deleteClicked = false;
            $scope.deleteText = 'delete all tasks';
            $scope.loadClicked = false;
            $scope.loadText = 'load default tasks';
            $scope.filterFn = function(item, index){
                switch($scope.type){
                    case 'all':
                        return item.content.indexOf( $scope.qq ) >= 0;
                    case 'completed':
                        return !item.alive && item.content.indexOf( $scope.qq ) >= 0;
                    case 'alive':
                        return item.alive && item.content.indexOf( $scope.qq ) >= 0;
                }
            };
            $document.on('click', function(e){
                var target = angular.element( e.target );
                if( $scope.deleteClicked && !target.hasClass('delete-button') ){
                    $scope.$apply(function(){
                        $scope.deleteClicked = false;
                        $scope.deleteText = 'delete all tasks';
                    });
                }
                if( $scope.loadClicked && !target.hasClass('load-button') ){
                    $scope.$apply(function(){
                        $scope.loadClicked = false;
                        $scope.loadText = 'load default tasks';
                    });
                }
            });
            function initTaskList(){
                var str = localStorage.getItem('task');
                if( str ){
                    $scope.taskList = angular.fromJson( str );
                }else{
                    $scope.taskList  = [];
                }
            }
            $scope.inputKeyup = function(e){
                if( e.keyCode == 13 ){
                    $scope.addTask();
                }
            };
            $scope.addTask = function(){
                if( $scope.content === '' ) return;
                if( $scope.taskList.length >= 26 ) return;
                $scope.taskList.push({
                    content : $scope.content,
                    alive : true,
                    ctime : +new Date()
                });
                $scope.content = '';
            };
            $scope.deleteAllTask = function(e){
                if( !$scope.deleteClicked ){
                    $scope.deleteClicked = true;
                    $scope.deleteText = 'click again to confirm';
                }else{
                    $scope.deleteClicked = false;
                    $scope.deleteText = 'delete all tasks';
                    $scope.taskList = [];
                }
            };
            $scope.deleteTask = function(task){
                var index = $scope.taskList.indexOf(task);
                var copy;
                if( task.alive ){
                    copy = angular.copy(task);
                    copy.alive = false;
                    $scope.taskList.splice(index, 1, copy);
                }else{
                    $scope.taskList.splice(index, 1);
                }
            };
            $scope.undoTask = function(task){
                var index = $scope.taskList.indexOf(task);
                var copy = angular.copy(task);
                copy.alive = true;
                $scope.taskList.splice(index, 1, copy);
            };
            $scope.loadDefaultTask = function(){
                if( $scope.loadClicked || $scope.taskList.length === 0 ){
                    $http.get('stuff.json').success(function(data){
                        $scope.loadClicked = false;
                        $scope.loadText = 'load default tasks';
                        $scope.taskList = data;
                    }).error(function(){
                        $scope.loadClicked = false;
                        $scope.loadText = 'load default tasks';
                        $scope.taskList = [];
                    });
                }else{
                    $scope.loadClicked = true;
                    $scope.loadText = 'click again to confirm';
                }
            };
            //use $watch to refresh data in localStorage
            $scope.$watch('taskList', refreshList, true);
            function refreshList(){
                localStorage.setItem('task', angular.toJson( $scope.taskList ));
            }
        });
        var filtersModule = angular.module('filtersModule', []);
        filtersModule.filter('capFirst', function(){
            return function(input){
                return input.replace(/(\b)(\w)/g, function(match, m1, m2){
                    return m1 + m2.toUpperCase();
                });
            }
        });
        filtersModule.filter('transferToLetter', function(){
            var arr = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');
            return function(input){
                return arr[input];
            }
        });
        myCtrl.$inject = ['$scope', '$http', '$document'];
    }());
    </script>
</body>
</html>
