html,body{
    height:100%;
}
#skin{
    background-color: #002A4A;
    cursor: pointer;
    height: 20px;
    margin: 20px 20px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
#wrapper{
    height:auto;
    min-height:100%;
}
header{
    margin-bottom:0;
}
header h1{
    text-shadow: 5px 5px 5px rgb(255, 0, 0);
}
#downloads .btn{
    margin-bottom:10px;    
    background-color: #276617;
}
#downloads .btn:hover{
    background-color: #20A715;
}
.content{
    padding-top:30px;
    padding-bottom:141px;
}
.content .btn{
    border-radius:10px;
    margin-bottom:10px;    
}
.note{
    border-left:6px solid #e11;
    background-color:#FFF1CE;
    padding:6px 8px 6px 10px;
    color:#aaa;
}
footer{
    height:50px;
    padding: 30px 0;
    margin-top :-111px;
    text-align:center;
    border-top: 1px dashed rgb(181, 232, 83);
    width:100%;
}
a[href^="http://tongji.baidu.com"]{
    display:none;
}
