html,body{
    height:100%;
}
body{
    background: url("../images/bg.jpg") repeat 0 0 scroll transparent;
    font: 12px/1.8 "Droid Sans Mono",monospace;
}
#skin{
    background: url("../images/skin.png") no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 20px 20px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
.hidden{
    display:none;
}
.rect{
    border-bottom: 10px solid #aaa;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    right: -135px;
    top: 30px;
    width: 0;
    transition:right 0.5s ease 0s;
}
.rectshown{
    right:-5px;
    transition:right 0.5s ease 0s;
}
.skin_box{
    background-color: #336633;
    border-radius: 5px 5px 5px 5px;
    width: 109px;
    height: 52px;
    margin: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 40px;
}
.s1_mini,.s2_mini{
    border: 1px solid #777777;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 50px;
    width: 50px;
}
.s1_mini:before,.s2_mini:before{
    content:"";
}
.s1_mini{
    background-image:url("../images/s1_mini.jpg");
    margin-right:5px;
}
.s2_mini{
    background-image:url("../images/s2_mini.jpg");
}
#wrapper{
    height:auto;
    min-height:100%;
}
header{
    margin-bottom:0;
    min-width:1000px;
    padding-bottom: 0px;
}
header h1{
    text-shadow: 2px 2px 8px rgb(255, 255, 0);
    margin: 0 0 20px -20px;
}
#downloads .btn{
    background-color: #276617;
}
#downloads .btn:hover{
    background-color: #20A715;
}
.content{
    padding-top:30px;
    padding-bottom:141px;
}
.content .btn{
    border-radius:10px;
    margin-bottom:10px;    
}
.note{
    border-left:6px solid #e11;
    background-color:#FFF1CE;
    padding:6px 8px 6px 10px;
    color:#aaa;
}
footer{
    height:50px;
    padding: 30px 0;
    margin-top :-111px;
    text-align:center;
    border-top: 1px dashed rgb(181, 232, 83);
    width:100%;
    min-width:1000px;
    font-size:14px;
}
footer a:hover{
    color : #85e2f9;
}
a[href^="http://tongji.baidu.com"]{
    display:none;
}
