<!doctype html>
<html lang="en">
<head>
    <title>赏金大师</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/fonts/calluna-sans.css" />
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/lottery.css" />
</head>
<body>

    <div class="wrapper">
        <div ng-app="myApp">
            <div ng-controller="myCtrl">
                <div class="ul-nav">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: listShow}" ng-click="listShow=true"><a href="javascript:;">所有小伙伴</a></li>
                        <li ng-class="{active: !listShow}" ng-click="listShow=false"><a href="javascript:;">现在去抽奖</a></li>
                    </ul>
                </div>
                <div ng-show="listShow">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="输入小伙伴的名字..." ng-init="newUser=''" ng-model="newUser" ng-keyup="inputKeyup($event)" />
                        <span class="input-group-btn">
                            <button class="btn btn-success" ng-click="addUser()">增加小伙伴</button>
                            <button class="btn btn-danger" ng-click="clearUser()">清空全部</button>
                        </span>
                    </div>
                    <ul class="list-unstyled user-li-wrapper">
                        <li class="user-li" ng-repeat="user in listUsers">
                            <span class="user-name" title="{{user}}">{{user}}</span>
                            <span class="del-icon" ng-click="delUser($index)" title="delete user"><i class="fa fa-close"></i></span>
                        </li>
                    </ul>
                </div>
                <div ng-show="!listShow">
                    <div class="lottery-wrapper">
                        <p>抽奖人数: <strong class="text-warning">{{listUsersLength}}</strong></p>
                        <div>
                            <span>中奖人数: </span>
                            <div class="btn-group btn-wrapper">
                                <button class="btn btn-xs {{resultNum == 1? 'btn-primary':'btn-default'}}" ng-click="setNum(1)">1</button>
                                <button class="btn btn-xs {{resultNum == 2? 'btn-primary':'btn-default'}}" ng-click="setNum(2)">2</button>
                                <button class="btn btn-xs {{resultNum == 3? 'btn-primary':'btn-default'}}" ng-click="setNum(3)">3</button>
                            </div>
                        </div>
                        <div class="result-wrapper">
                            <div ng-repeat="user in resultArr track by $index" class="result-item">
                                <span>{{user ? user : '恭喜发财'}}</span>
                            </div>
                        </div>
                        <div class="control-wrapper">
                            <button ng-init="rolling=false" class="btn btn-primary" ng-click="toggleRolling()">{{rolling? "stop":"let's rock"}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    (function(){
        var app = angular.module('myApp', ['listAnimations']);
        angular.module('listAnimations', ['ngAnimate']);
        var myCtrl = app.controller('myCtrl', function($scope, $interval) {
            $scope.listShow = true;
            $scope.resultNum = 1;
            $scope.resultArr = [''];
            $scope.listUsers = ['就是有钱', '就是任性', '有钱加任性', '少帮主', '二龙', '我就是土豪'];
            $scope.listUsersLength = $scope.listUsers.length;
            $scope.inputKeyup = function(e){
                if(e.keyCode === 13){
                    $scope.addUser();
                }
            };
            $scope.addUser = function(){
                var user = $scope.newUser.trim();
                if(user !== ''){
                    if($scope.listUsers.indexOf(user) >= 0){
                        alert('小伙伴名字已经存在了!');
                    }else{
                        $scope.listUsers.push(user);
                        $scope.newUser = '';
                    }
                }
            };
            $scope.delUser = function(index){
                $scope.listUsers.splice(index, 1);
            };
            $scope.clearUser = function(){
                $scope.listUsers = [];
            };
            $scope.setNum = function(num){
                if($scope.rolling){
                    return;
                }
                $scope.resultNum = num;
                $scope.resultArr = new Array(num);
            };
            $scope.lotteryInterval = null;
            $scope.toggleRolling = function(){
                $scope.rolling = !$scope.rolling;
                if($scope.rolling){
                    $scope.resultArr = new Array($scope.resultNum);
                    $scope.lotteryInterval = $interval($scope.roll, 150);
                }else{
                    $interval.cancel($scope.lotteryInterval);
                    $scope.lotteryInterval = null;
                }
            };
            $scope.roll = function(){
                $scope.resultArr = _.sample($scope.listUsers, $scope.resultNum);
            };
            $scope.$watch('listUsers', function(){
                $scope.listUsersLength = $scope.listUsers.length;
            }, true);
        });
        myCtrl.$inject = ['$scope', '$interval'];
    }());
    </script>
</body>
</html>
